#container {
	               width : 1000px;
	             display : -ms-grid;
	    -ms-grid-columns : 250px 250px 250px 250px;
	       -ms-grid-rows : 400px;
}

#contents1 {
          -ms-grid-column : 1;
             -ms-grid-row : 1;
	     background-color : orange;
}

#contents2 {
          -ms-grid-column : 2;
             -ms-grid-row : 1;
     -ms-grid-column-span : 2;
   	     background-color : green;
}

#contents3 {
          -ms-grid-column : 4;
             -ms-grid-row : 1;
	     background-color : blue;
}